Repository ss220club/BandaMarines, pull requests merged in 2025-02, with the labels that each got.

#81 Balanca attachments
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Баланс

#82 Balanca attachments
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Баланс

#103 More xeno translates
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  modular/translations/_translations.dme
  modular/translations/code/translation_data/ru_emotes.toml
  modular/translations/code/translation_data/ru_names.toml
  modular/translations/code/xeno/hive_status.dm
Labels: :pencil: Перевод, :wrench: Фикс

#114 labeler module fix
  .github/labeler.yml
Labels: :wrench: Фикс

#113 Translate: General fixes and additional announce translations
  code/__DEFINES/hijack.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brig_system.dm
  code/game/machinery/fax_machine.dm
  code/game/objects/items/implants/implant.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_marines/altitude_control_console.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  code/modules/cm_tech/techs/marine/tier1/points.dm
  code/modules/cm_tech/techs/marine/tier2/orbital_ammo.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  code/modules/objectives/communications.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: :pencil: Перевод

#119 Translate Emotes
  modular/translations/code/translation_data/ru_emotes.toml
Labels: :pencil: Перевод

#118 [TM] Bump attacks
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/equipment.dm
  code/_globalvars/bitfields.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  modular/_defines220/code/signals_item.dm
  modular/bump_attacks/_bump_attacks.dm
  modular/bump_attacks/_bump_attacks.dme
  modular/bump_attacks/code/bump_attacks_atoms.dm
  modular/bump_attacks/code/bump_attacks_button.dm
  modular/bump_attacks/code/bump_attacks_component.dm
  modular/bump_attacks/icons/general.dmi
  modular/modular.dme
Labels: :paintbrush: Спрайты

#121 Merge upstream 15.02
  code/__DEFINES/chat.dm
  code/__DEFINES/chemistry.dm
  code/__DEFINES/pain.dm
  code/game/atoms.dm
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/round_modifiers.dm
  code/game/jobs/job/job.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/items/pamphlets.dm
  code/modules/cm_marines/specialist.dm
  code/modules/events/inflation.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
  html/changelogs/AutoChangeLog-pr-8463.yml
  html/changelogs/AutoChangeLog-pr-8467.yml
  html/changelogs/AutoChangeLog-pr-8477.yml
  html/changelogs/AutoChangeLog-pr-8478.yml
  html/changelogs/AutoChangeLog-pr-8479.yml
  html/changelogs/archive/2025-02.yml
  icons/ooc.dmi
  maps/map_files/BigRed/BigRed.dmm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: TGUI, :paintbrush: Спрайты, :world_map: Изменение Карты, :pray: Слияние с восходящим потоком

#128 mre component fix
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: :wrench: Фикс

#129 [TM] Respawn timer
  code/__HELPERS/_time.dm
  code/modules/client/preferences.dm
  code/modules/mob/mob_verbs.dm
  config/example/bandamarines_config.txt
  config/example/config.txt
  modular/modular.dme
  modular/respawn/_respawn.dm
  modular/respawn/_respawn.dme
  modular/respawn/code/respawn_config.dm
Labels: :floppy_disk: Изменение конфига

#138 Add cyrillic support to modpacks list
  modular/_modpacks.dm
Labels: :wrench: Фикс

#136 Marine tips translate
  strings/marinetips.txt
Labels: :pencil: Перевод

#98 wounds and examine translate
  code/__HELPERS/lists.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/organs/limbs.dm
  modular/translations/_translations.dm
  modular/translations/_translations.dme
  modular/translations/code/translation_data/ru_names.toml
Labels: :wrench: Фикс

#140 Fix cyrillic hotkeys
  code/modules/client/tgui_macro.dm
Labels: :wrench: Фикс

#146 Meta tips translate
  strings/metatips.txt
Labels: :pencil: Перевод

#147 Merge upstream 18.02
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/civilians/support/field_doctor.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/hybrisa_lights.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/structures/hybrisa_props.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/projectiles/gun_attachables.dm
  colonialmarines.dme
  html/changelogs/AutoChangeLog-pr-7858.yml
  html/changelogs/AutoChangeLog-pr-8483.yml
  html/changelogs/AutoChangeLog-pr-8500.yml
  html/changelogs/archive/2025-02.yml
  icons/landmarks.dmi
  icons/mob/hud/marine_hud.dmi
  icons/obj/structures/props/streetlights.dmi
  icons/ui_icons/map_blips.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :pray: Слияние с восходящим потоком

#137 [TM] Diagonal Movement Config
  code/modules/keybindings/bindings_atom.dm
  config/example/bandamarines_config.txt
Labels: :floppy_disk: Изменение конфига

#148 Modpacks list tgui
  modular/_modpacks.dm
  tgui/packages/tgui/interfaces/ModpacksList.tsx
Labels: TGUI

#115 Changelog, changelog validation, merge upstream, pr tempelate
  .github/PULL_REQUEST_TEMPLATE.md
  .github/ss13_fetchchangelog.py
  .github/ss13_genchangelog.py
  .github/workflows/auto_changelog.yml
  .github/workflows/check_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/merge_upstream.yml
  .github/workflows/update_changelog.yml
  html/changelogs/bandamarines/.all_changelog.yml
  html/changelogs/bandamarines/archive/2025-02.yml
  html/changelogs/bandamarines/example.yml
  modular/changelog/_changelog.dm
  modular/changelog/_changelog.dme
  modular/changelog/code/changelog.dm
  modular/changelog/code/changelog_item.dm
  modular/modular.dme
  tgui/packages/tgui/interfaces/ChangelogBandaMarines.jsx
  tools/GenerateChangelog/makeChangelog.bat
  tools/GenerateChangelog/makeChangelog.sh
  tools/GenerateChangelog/ss13_genchangelog.py
  tools/changelog/changelog_utils.py
  tools/changelog/check_changelog.py
  tools/changelog/tags.yml
  tools/merge-upstream/merge_upstream.py
  tools/merge-upstream/translation_context.txt
  tools/pull_request_hooks/autoChangelog.js
  tools/pull_request_hooks/changelogParser.js
Labels: TGUI, :guitar: Инструменты, :neckbeard: Документация

#150 Round Stats Viewer
  modular/modular.dme
  modular/stats_viewer/_stats_viewer.dm
  modular/stats_viewer/_stats_viewer.dme
  modular/stats_viewer/code/stats_viewer.dm
  tgui/packages/tgui/interfaces/ModpacksList.tsx
  tgui/packages/tgui/interfaces/RoundStats.tsx
Labels: TGUI, :scroll: CL валиден

#161 Xenotips translate
  strings/xenotips.txt
Labels: :pencil: Перевод, :scroll: CL валиден

#162 Runechat LOOC for everyone
  code/game/verbs/ooc.dm
  code/modules/mob/mob_defines.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui-say/styles/colors.scss
Labels: TGUI, :scroll: CL валиден

#164 TTS now correctly disables via config
  modular/text_to_speech/code/configuration.dm
  modular/text_to_speech/code/tts_subsystem.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#155 Forbid cirillic in stickyban
  code/__DEFINES/bandamarines/cyrillic.dm
  code/modules/admin/NewBan.dm
  colonialmarines.dme
Labels: :scroll: CL валиден

#149 Fix VV TTS seed change
  modular/text_to_speech/code/_defines.dm
  modular/text_to_speech/code/tts_vv.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#153 [TM] More info in stats
  modular/stats_viewer/_stats_viewer.dme
  modular/stats_viewer/code/stats_game_mode.dm
  modular/stats_viewer/code/stats_mob.dm
  modular/stats_viewer/code/stats_player_entity.dm
  modular/stats_viewer/code/stats_player_stats.dm
  modular/stats_viewer/code/stats_viewer.dm
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/RoundStats.tsx
  tgui/packages/tgui/styles/themes/crt/crt-xeno.scss
Labels: TGUI, :scroll: CL валиден

#160 Remove TTS from Working Joe
  code/modules/gear_presets/synths.dm
  modular/text_to_speech/code/base_seeds/mobs/_base.dm
  modular/text_to_speech/code/tts_atom.dm
Labels: :scroll: CL валиден

#91 Fix categories when using coupon or selecting APC
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/cm_tech/implements/tank.dm
Labels: :wrench: Фикс

#170 add script to build and run server
  RUN_SERVER.cmd
Labels: :scroll: CL валиден

#173 [TM] Better translate for observer ui
  code/__DEFINES/bandamarines/ru_jobs.dm
  modular/translations/code/xeno/hive_status.dm
  tgui/packages/tgui/interfaces/BandaMarines/MarineJobs.tsx
  tgui/packages/tgui/interfaces/BandaMarines/XenoCastes.tsx
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: :pencil: Перевод, TGUI, :scroll: CL валиден

#144 [TM] Квик каст для способностей
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/statusbar/statusbar.dm
  modular/modular.dme
  modular/quick_cast/_quick_cast.dm
  modular/quick_cast/_quick_cast.dme
  modular/quick_cast/code/log_hover.dm
  modular/quick_cast/code/preferences.dm
  modular/quick_cast/code/quick_cast.dm
  modular/quick_cast/code/selected_ability.dm
Labels: :scroll: CL валиден

#174 Фикс квик-каста
  modular/quick_cast/code/quick_cast.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#178 Reduce timelock for young blood
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
Labels: :scroll: CL валиден

#180 Revert "Add check new players in verbs & improve it"
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: :scroll: CL не требуется

#189 king translate
  modular/translations/code/xeno/xeno_abilities/castes/king.dm
Labels: :pencil: Перевод, :scroll: CL невалиден

#190 Praetorian translate
  modular/translations/code/xeno/xeno_abilities/castes/praetorian.dm
Labels: :pencil: Перевод, :scroll: CL невалиден
