Repository ss220club/BandaMarines, pull requests merged in 2025-09, with the labels that each got.

#383 fixes CL computer
  code/game/machinery/computer/wy_computer.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#370 [TM] Перенос чата (TSay) с ТГ
  code/game/objects/items/devices/radio/headset.dm
  code/modules/tgui/tgui-say/modal.dm
  code/modules/tgui/tgui-say/speech.dm
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/styles.scss
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/Radio.tsx
Labels: TGUI, :scroll: CL валиден, :trollface: Фича

#385 Фикс поиска по блэкмаркет предметам в консоли карго
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Labels: :wrench: Фикс, TGUI, :scroll: CL валиден
