Repository ss220club/BandaMarines, pull requests merged in 2025-03, with the labels that each got.

#193 Carrier, facehugger translate and update general abilities
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
  modular/translations/code/xeno/xeno_abilities/castes/carrier.dm
  modular/translations/code/xeno/xeno_abilities/castes/facehugger.dm
  modular/translations/code/xeno/xeno_abilities/general_abilities.dm
Labels: :pencil: Перевод, :scroll: CL не требуется

#194 ravager translate
  modular/translations/code/xeno/xeno_abilities/castes/ravager.dm
  modular/translations/code/xeno/xeno_abilities/xeno_projectiles.dm
Labels: :scroll: CL не требуется

#202 No random TTS any gender voices
  modular/text_to_speech/code/tts_component.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#200 Fix fax responder names
  modular/translations/code/gear_presets/fax_responders.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#206 Allow cyrillic in sec records
  code/game/machinery/computer/security.dm
Labels: :scroll: CL валиден

#221 Fix randomized TTS voices
  modular/text_to_speech/code/base_seeds/mobs/_base.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#157 Field Doctor translate
  code/__DEFINES/bandamarines/ru_jobs.dm
  modular/translations/_translations.dme
  modular/translations/code/gear_presets/uscm_medical.dm
  modular/translations/code/job/civilians/support/field_doctor.dm
  tgui/packages/tgui/interfaces/BandaMarines/MarineJobs.tsx
Labels: :pencil: Перевод, TGUI, :scroll: CL валиден

#203 [TM] Shout orders
  code/modules/client/client_procs.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  modular/modular.dme
  modular/shout_orders/_shout_orders.dm
  modular/shout_orders/_shout_orders.dme
  modular/shout_orders/code/shout_orders.dm
Labels: :scroll: CL валиден

#199 qol: anounce tts volume and cyrillic chat highlights
  code/__DEFINES/sounds.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  modular/_defines220/code/signals_atom.dm
  modular/text_to_speech/code/hear.dm
  modular/text_to_speech/code/sound.dm
  modular/text_to_speech/code/tts_announce.dm
  modular/text_to_speech/code/tts_atom.dm
  modular/text_to_speech/code/tts_component.dm
  modular/text_to_speech/code/tts_subsystem.dm
  modular/text_to_speech/code/tts_ui_explorer.dm
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-say/TguiSay.tsx
Labels: TGUI, :scroll: CL валиден

#222 Option for ERT to change TTS on spawn
  code/game/gamemodes/cm_initialize.dm
  modular/text_to_speech/code/base_seeds/mobs/_base.dm
Labels: :scroll: CL валиден

#169 [TM] Tank crew APC choice
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  modular/apc_choice/_apc_choice.dm
  modular/apc_choice/_apc_choice.dme
  modular/apc_choice/code/apc_choice.dm
  modular/modular.dme
Labels: :scroll: CL валиден

#217 [TM] Full diagonal remove
  code/__DEFINES/movement.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/turfs/turf.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/movement/movement.dm
  code/modules/vehicles/multitile/multitile_movement.dm
  code/modules/vehicles/powerloader.dm
Labels: :scroll: CL валиден

#215 [TM] More М5 Camera
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: :scroll: CL валиден

#236 Фикс перевода ГЛАВНОГО инженера, а не старшего
  code/__DEFINES/bandamarines/ru_jobs.dm
  tgui/packages/tgui/interfaces/BandaMarines/MarineJobs.tsx
Labels: TGUI, :scroll: CL валиден

#237 Перевод Химии
  modular/translations/_translations.dme
  modular/translations/code/research/code/prop_negative.dm
  modular/translations/code/research/code/prop_neutral.dm
  modular/translations/code/research/code/prop_positive.dm
  modular/translations/code/research/code/prop_special.dm
Labels: :scroll: CL валиден

#226 [TM] Check New Players Again
  code/modules/admin/admin_verbs.dm
  modular/_helpers220/code/unsorted.dm
  modular/admin/_admin.dm
  modular/admin/_admin.dme
  modular/admin/code/check_new_players.dm
  modular/modular.dme
  tgui/packages/tgui/interfaces/CheckNewPlayers.tsx
Labels: TGUI, :scroll: CL валиден

#249 Tweak Speech filter
  modular/speech_filter/code/speech_filter.dm
Labels: :scroll: CL валиден, :shipit: Улучшение

#247 [TM] Offline timed ban
  code/modules/admin/admin_verbs.dm
  modular/admin/_admin.dme
  modular/admin/code/offline_timed_ban.dm
Labels: :scroll: CL валиден

#201 [TM] Forms Translate
  code/modules/paperwork/prefab_papers.dm
  code/modules/paperwork/prefab_papers/provost/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/provost/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/provost/high_command/dao_response.dm
  code/modules/paperwork/prefab_papers/provost/high_command/standard.dm
  code/modules/paperwork/prefab_papers/provost/military_police/apology_notice.dm
  code/modules/paperwork/prefab_papers/provost/military_police/appeal_form.dm
  code/modules/paperwork/prefab_papers/provost/military_police/confiscation_receipt.dm
  code/modules/paperwork/prefab_papers/provost/military_police/dao_request.dm
  code/modules/paperwork/prefab_papers/provost/military_police/ops_report.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/standard.dm
  code/modules/paperwork/prefab_papers/uscm/ops_report.dm
  code/modules/paperwork/prefab_papers/wey_yu/high_command/standard.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/liability.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_long.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_short.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/ops_report.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/preserve_intent.dm
Labels: :pencil: Перевод, :scroll: CL валиден

#256 Багфикс трансляторов Яутжа
  code/modules/cm_preds/yaut_bracers.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#141 [TM] Reduce Nuke and King Times
  code/_globalvars/global_lists.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
Labels: :scroll: CL валиден

#182 [TM] Tank LTB has been returned
  code/datums/ammo/rocket.dm
  code/datums/supply_packs/vehicle_ammo.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/vehicles/hardpoints/primary/ltb.dm
  icons/effects/beam.dmi
  modular/ltb_rework/_ltb_rework.dm
  modular/ltb_rework/_ltb_rework.dme
  modular/ltb_rework/code/ltb_try_fire.dm
  modular/ltb_rework/sound/shell.ogg
  modular/ltb_rework/sound/turret.ogg
  modular/modular.dme
Labels: :paintbrush: Спрайты, :scroll: CL валиден, :sound: Звук

#186 [TM] Add: New dropship engage soundeffects
  code/datums/effects/neurotoxin.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/modules/cm_marines/dropship_ammo.dm
  modular/aesthetics_sounds/_aesthetics_sounds.dm
  modular/aesthetics_sounds/_aesthetics_sounds.dme
  modular/aesthetics_sounds/sound/attributions.txt
  modular/aesthetics_sounds/sound/dropship_gau.ogg
  modular/aesthetics_sounds/sound/dropship_sonic_boom.ogg
  modular/modular.dme
Labels: :scroll: CL валиден, :sound: Звук

#251 [TM] Fix accidential diagonal
  code/modules/keybindings/bindings_client.dm
Labels: :scroll: CL валиден
