Repository ss220club/BandaMarines, pull requests merged in 2025-05, with the labels that each got.

#214 [TM] M707 rework&return
  code/game/objects/structures/vulture_spotter.dm
  code/modules/projectiles/gun_attachables.dm
  modular/modular.dme
  modular/vulture_rework/_vulture_rework.dm
  modular/vulture_rework/_vulture_rework.dme
  modular/vulture_rework/code/firemod.dm
  modular/vulture_rework/code/pamphlets.dm
  modular/vulture_rework/code/vending.dm
  modular/vulture_rework/icons/vulture_hud.dmi
  modular/vulture_rework/icons/vulture_map.dmi
Labels: :wrench: Фикс, :paintbrush: Спрайты, :scroll: CL валиден

#310 [TM 2w] Mentorhelp
  code/_globalvars/global_lists.dm
  code/modules/mentor/mentorhelp.dm
Labels: :scroll: CL валиден

#299 [TM 1m] CLF survivors spawn chances increase
  maps/Nightmare/maps/BigRed/scenario.json
  maps/Nightmare/maps/DesertDam/scenario.json
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
  maps/Nightmare/maps/Ice_Colony_v3/scenario.json
  maps/Nightmare/maps/Kutjevo/scenario.json
  maps/Nightmare/maps/LV759_Hybrisa_Prospera/scenario.json
  maps/Nightmare/maps/New_Varadero/scenario.json
  maps/Nightmare/maps/Sorokyne_Strata/scenario.json
Labels: :scroll: CL валиден

#322 [TM] Add sound channel for announcement
  code/__DEFINES/sounds.dm
  modular/text_to_speech/code/sound.dm
  modular/text_to_speech/code/tts_subsystem.dm
  modular/text_to_speech/code/~undefs/~undefs.dm
Labels: :scroll: CL валиден

#323 [TM] Ghost TTS doesn't check GhostEars prefs anymore
  code/modules/mob/dead/observer/say.dm
Labels: :scroll: CL валиден

#321 Remove shout orders module
  code/modules/client/client_procs.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/human/powers/issue_order.dm
  modular/modular.dme
  modular/shout_orders/_shout_orders.dm
  modular/shout_orders/_shout_orders.dme
  modular/shout_orders/code/shout_orders.dm
Labels: :scroll: CL не требуется

#325 Fix TTS issues
  code/game/gamemodes/cm_initialize.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/whiteout.dm
  modular/text_to_speech/code/base_seeds/mobs/_base.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#327 Fix provost observe category
  tgui/packages/tgui/interfaces/BandaMarines/MarineJobs.tsx
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: :wrench: Фикс, TGUI, :scroll: CL валиден

#332 Исправление ссылок в конфиге | Update config.txt
  config/example/config.txt
Labels: :floppy_disk: Изменение конфига, :scroll: CL валиден

#293 [TM] Перевод названий предметов, интерьера, вендоров
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/items/reagent_containers/blood_pack.dm
  code/game/objects/items/reagent_containers/food/fortunecookie.dm
  code/game/objects/items/reagent_containers/food/mre_food/core_food.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/storage/mre.dm
  code/game/objects/items/toys/cards.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammunition.dm
  modular/translations/code/job/marine/specialists.dm
  modular/translations/code/translation_data/ru_names/_uncategorized.toml
  modular/translations/code/translation_data/ru_names/cm13.toml
  modular/translations/code/translation_data/ru_names/cm13_attachments.toml
  modular/translations/code/translation_data/ru_names/cm13_books.toml
  modular/translations/code/translation_data/ru_names/cm13_clothing.toml
  modular/translations/code/translation_data/ru_names/cm13_clothing_armor.toml
  modular/translations/code/translation_data/ru_names/cm13_clothing_pouches.toml
  modular/translations/code/translation_data/ru_names/cm13_decor.toml
  modular/translations/code/translation_data/ru_names/cm13_equipment.toml
  modular/translations/code/translation_data/ru_names/cm13_food.toml
  modular/translations/code/translation_data/ru_names/cm13_medicine.toml
  modular/translations/code/translation_data/ru_names/cm13_misc.toml
  modular/translations/code/translation_data/ru_names/cm13_plants.toml
  modular/translations/code/translation_data/ru_names/cm13_projectiles.toml
  modular/translations/code/translation_data/ru_names/cm13_semiotics.toml
  modular/translations/code/translation_data/ru_names/cm13_vendors.toml
  modular/translations/code/translation_data/ru_names/cm13_weapons.toml
  modular/translations/code/translation_data/ru_names/ss13_clothing.toml
  modular/translations/code/translation_data/ru_names/ss13_equipment.toml
  modular/translations/code/translation_data/ru_names/ss13_projectiles.toml
  strings/fortunes_ru.txt
Labels: :scroll: CL валиден, :trollface: Фича
