Repository ss220club/BandaMarines, pull requests merged in 2025-04, with the labels that each got.

#197 [TM] Моторизированная коляска, байк мотопехоты
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/object_lists.dm
  code/modules/cm_marines/m2c.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/vehicles/vehicle.dm
  modular/modular.dme
  modular/roundstart_spawns/_roundstart_spawns.dm
  modular/roundstart_spawns/_roundstart_spawns.dme
  modular/roundstart_spawns/code/roundstart_spawn.dm
  modular/roundstart_spawns/code/vehicle_spawn.dm
  modular/skills/_skills.dm
  modular/skills/_skills.dme
  modular/skills/code/pamplets.dm
  modular/skills/code/skills.dm
  modular/sounds/sound/vehicles/bike/sound_bike_move.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_move_fade.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_move_fade_endstart.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_rotate.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_rotate_fade.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_show.ogg
  modular/sounds/sound/vehicles/bike/sound_bike_start.ogg
  modular/supply_packs/_supply_packs.dm
  modular/supply_packs/_supply_packs.dme
  modular/supply_packs/code/vehicle_packs.dm
  modular/vehicles/_vehicles.dm
  modular/vehicles/_vehicles.dme
  modular/vehicles/code/motorbike/bike/motorbike_actions.dm
  modular/vehicles/code/motorbike/bike/motorbike_buckle.dm
  modular/vehicles/code/motorbike/bike/motorbike_collide.dm
  modular/vehicles/code/motorbike/bike/motorbike_health.dm
  modular/vehicles/code/motorbike/bike/motorbike_movement.dm
  modular/vehicles/code/motorbike/bike/motorbike_verbs.dm
  modular/vehicles/code/motorbike/bike/motorbile_sound.dm
  modular/vehicles/code/motorbike/motorbike.dm
  modular/vehicles/code/motorbike/motorbike_destroyed.dm
  modular/vehicles/code/motorbike/motorbike_skins.dm
  modular/vehicles/code/motorbike/stroller/stroller.dm
  modular/vehicles/code/motorbike/stroller/stroller_actions.dm
  modular/vehicles/code/motorbike/stroller/stroller_buckle.dm
  modular/vehicles/code/motorbike/stroller/stroller_guns.dm
  modular/vehicles/code/motorbike/stroller/stroller_health.dm
  modular/vehicles/code/motorbike/stroller/stroller_movement.dm
  modular/vehicles/code/vehicle.dm
  modular/vehicles/icons/moto48x48.dmi
  modular/vehicles/icons/moto48x48_full.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден, :sound: Звук

#264 Новые предметы в лодаут
  modular/loadout_preferences_gear/_loadout.dm
  modular/loadout_preferences_gear/_loadout.dme
  modular/loadout_preferences_gear/code/preferences_gear.dm
  modular/modular.dme
Labels: :scroll: CL валиден

#277 Fix duplicate paygrade runtime
  modular/translations/code/faction_rank/wy/pmc.dm
Labels: :wrench: Фикс, :scroll: CL невалиден

#271 add: poncho in loadout
  modular/clothing/_clothing.dm
  modular/clothing/_clothing.dme
  modular/clothing/accessory/inventory_overlays/ponchos.dmi
  modular/clothing/accessory/ponchos.dmi
  modular/clothing/code/ponchos.dm
  modular/clothing/onmob/accessory/ponchos.dmi
  modular/loadout_preferences_gear/code/preferences_gear.dm
  modular/modular.dme
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#257 [TM] WY special synthetic reset key
  modular/modular.dme
  modular/paper/_paper.dm
  modular/paper/_paper.dme
  modular/paper/code/paper.dm
  modular/paper/code/prefab_papers/reset_key_instructions.dm
  modular/wy_special/_wy_special.dm
  modular/wy_special/_wy_special.dme
  modular/wy_special/code/wy_special.dm
Labels: :scroll: CL валиден

#280 Remove whiteout TTS
  code/modules/gear_presets/whiteout.dm
Labels: :scroll: CL валиден

#275 Factions translation update
  code/__DEFINES/bandamarines/ru_jobs.dm
  modular/translations/_translations.dme
  modular/translations/code/faction_rank/other/cmb.dm
  modular/translations/code/faction_rank/other/contractors.dm
  modular/translations/code/faction_rank/other/freelancer.dm
  modular/translations/code/faction_rank/twe/nspa.dm
  modular/translations/code/faction_rank/upp/upp.dm
  modular/translations/code/faction_rank/uscm/provost.dm
  modular/translations/code/faction_rank/wy/commando.dm
  modular/translations/code/faction_rank/wy/pmc.dm
  modular/translations/code/faction_rank/wy/wy.dm
  modular/translations/code/gear_presets/cia.dm
  modular/translations/code/gear_presets/other.dm
  modular/translations/code/gear_presets/pmc.dm
  modular/translations/code/gear_presets/whiteout.dm
  modular/translations/code/gear_presets/wy.dm
  modular/translations/code/gear_presets/wy_goons.dm
  modular/translations/code/job/special/weyland_yutani.dm
  tgui/packages/tgui/interfaces/BandaMarines/MarineJobs.tsx
Labels: :pencil: Перевод, TGUI, :scroll: CL валиден

#269 Перевод для авто-ответов в ментор тикетах
  code/modules/mentor/mentorhelp.dm
  modular/translations/_translations.dme
  modular/translations/code/modules/admin/autoreply.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#284 [FIX] chair propelled
  code/game/objects/items/tools/extinguisher.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#283 [Hotfix] После перевода сломался переход по ссылкам в автореспондах менторов
  code/modules/admin/autoreply.dm
  modular/translations/_translations.dme
  modular/translations/code/modules/admin/autoreply.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#288 [FIX] tackle down motorbike buckle mob
  modular/vehicles/code/motorbike/bike/motorbike_buckle.dm
  modular/vehicles/code/motorbike/stroller/stroller_buckle.dm
  modular/vehicles/code/motorbike/stroller/stroller_guns.dm
Labels: :scroll: CL валиден

#301 Sync ru names with tg
  modular/translations/code/translation_data/ru_names.toml
Labels: :scroll: CL не требуется

#300 add support for vendor translation
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/food.dm
  modular/translations/_translations.dm
  modular/translations/_translations.dme
  modular/translations/code/ru_names/ru_vendors.dm
  modular/translations/code/translation_data/ru_names.toml
  tgui/packages/tgui/interfaces/VendingSorted.tsx
Labels: :pencil: Перевод, TGUI, :scroll: CL валиден

#228 [TM] Xeno customization
  code/__DEFINES/bandamarines/xenos.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  colonialmarines.dme
  modular/_defines220/_defines220.dme
  modular/_defines220/code/defines/xenos.dm
  modular/_defines220/code/signals_mob/signals_mob_carbon.dm
  modular/modular.dme
  modular/xeno_customization/_xeno_customization.dm
  modular/xeno_customization/_xeno_customization.dme
  modular/xeno_customization/code/_defines.dm
  modular/xeno_customization/code/castes/boiler.dm
  modular/xeno_customization/code/castes/burrower.dm
  modular/xeno_customization/code/castes/carrier.dm
  modular/xeno_customization/code/castes/crusher.dm
  modular/xeno_customization/code/castes/defender.dm
  modular/xeno_customization/code/castes/drone.dm
  modular/xeno_customization/code/castes/facehugger.dm
  modular/xeno_customization/code/castes/hivelord.dm
  modular/xeno_customization/code/castes/king.dm
  modular/xeno_customization/code/castes/larva.dm
  modular/xeno_customization/code/castes/lurker.dm
  modular/xeno_customization/code/castes/praetorian.dm
  modular/xeno_customization/code/castes/predalien.dm
  modular/xeno_customization/code/castes/queen.dm
  modular/xeno_customization/code/castes/ravager.dm
  modular/xeno_customization/code/castes/runner.dm
  modular/xeno_customization/code/castes/sentinel.dm
  modular/xeno_customization/code/castes/spitter.dm
  modular/xeno_customization/code/castes/warrior.dm
  modular/xeno_customization/code/component.dm
  modular/xeno_customization/code/customization_datum.dm
  modular/xeno_customization/code/preference.dm
  modular/xeno_customization/code/xenomorph.dm
  modular/xeno_customization/code/~undefs.dm
  modular/xeno_customization/icons/boiler/socks.dmi
  modular/xeno_customization/icons/burrower/socks.dmi
  modular/xeno_customization/icons/carrier/socks.dmi
  modular/xeno_customization/icons/defender/rouny.dmi
  modular/xeno_customization/icons/defender/socks.dmi
  modular/xeno_customization/icons/drone/socks.dmi
  modular/xeno_customization/icons/hivelord/socks.dmi
  modular/xeno_customization/icons/lurker/socks.dmi
  modular/xeno_customization/icons/praetorian/rouny.dmi
  modular/xeno_customization/icons/praetorian/socks.dmi
  modular/xeno_customization/icons/queen/dress.dmi
  modular/xeno_customization/icons/queen/socks.dmi
  modular/xeno_customization/icons/ravager/socks.dmi
  modular/xeno_customization/icons/runner/rouny.dmi
  modular/xeno_customization/icons/spitter/socks.dmi
  modular/xeno_customization/icons/warrior/rouny.dmi
  modular/xeno_customization/icons/warrior/socks.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#302 add support for vendor translation (part-2) for ss13 vendors
  code/game/machinery/vending/vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
Labels: TGUI, :scroll: CL валиден, :trollface: Фича

#306 [FIX] Hivelord whisperer normalize
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: :scroll: CL валиден
